@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Raleway:wght@300;400;700&family=Roboto:wght@300&family=Work+Sans:wght@300;400;700&display=swap');

#lupa{
    color: var(--colorGrisClaro);
    margin-left: 1px;
    padding: 1.3px;
    border-color: #dedede;
    border-style: solid;
    border-color: var(--colorGrisOscuro);
    border-radius: 2px;    
    background-color: white;
}
.__index____Body__Header__nav__ul{
    list-style: none;
    margin-left: -30px;
}
.__index____Body__Header{
    padding: 10px;
    background-color: var(--colorAmarillo);
}
.__Index__Body_Header__img--Isologotipo{
    margin-top: 15px;
    margin-left: 10px;
    display: block;
    width : 20%
}
.__index____Body__Header__Div--Buscador{
    display: inline;
    color: var(--colorGrisClaro);
    margin-left: 10px;
    width: 150px;
    border-color: #dedede;
    border-style: solid;
    border-color: var(--colorGrisOscuro);
    border-radius: 2px;    
    background-color: white;
}
.__index____Body__Header__P--Cuotas{
    text-align: center
}
.__Index__Body__Main__Section__img--Banner{
    width : 100%
} 
.__Index__Body{
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
}
.__Index__Body__Main__Section__h1--Titular>{
    font-size: 24px;
}
.__Index__Body__Main__Section__Article__H2--Precio{
    font-size: 18px;
}
.__Index__Body__Main__Section__Article__H3--Descuento{
    font-size: 16px;
}
.__Index__Body__Main__Section__Article__H3--Descripcion{
    font-size: 16px;
}