@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Raleway:wght@300;400;700&family=Roboto:wght@300&family=Work+Sans:wght@300;400;700&display=swap');

#lupa{
    color: var(--colorGrisClaro);
    margin-left: 1px;
    padding: 1.3px;
    border-color: #dedede;
    border-style: solid;
    border-color: var(--colorGrisOscuro);
    border-radius: 2px;    
    background-color: white;
}
img{
    display: block;
}
.__index____Body__Header{
    padding: 10px;
    background-color: var(--colorAmarillo);
}
.__Index__Body_Header__img--Isologotipo{
    margin: 20px;
    display: block;
    width : 120px;
}
.__index____Body__Header__Div--Buscador{
    display: inline;
    color: var(--colorGrisClaro);
    margin-left: 10px;
    width: 150px;
    border-color: #dedede;
    border-style: solid;
    border-color: var(--colorGrisOscuro);
    border-radius: 2px;    
    background-color: white;
}
.__index____Body__Header__P--Cuotas{
    text-align: center
}
.__index____Body__Header nav ul{
    display: none;
    list-style: none;
    margin-left: -30px;
}
.__index____Body__Header__Div--Hamburguesa{
    text-align: center;
    display: block;
    width: 14px;
    height: 14px;
    color: var(--colorGrisClaro);
    margin-left: auto;
    margin-right: auto;
    padding: 3.5px;
    border-radius: 2px;    
    background-color: var(--colorAzul);
}
.__Index__Body__Main{
    margin: 0 auto;
    width:90%
}
.__Index__Body__Main__Section__img--Banner{
    width : 100%
} 
.__Index__Body{
    /* width: 90%; */
    /* align-content: center; */
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
    background-color: var(--colorGrisClaro);
}

.__Index__Body__Main__Section article{
        padding: 10px;
        background-color: white;
        margin-top: 10px;
}


.__Index__Body__Main__Section__Article img{

/* border-bottom: 72px var(--colorGrisClaro); */

/* object-fit: fill; */
}
.__Index__Body__Main__Section article h1{
    
border-top: solid 1px var(--colorGrisClaro);
padding: 15px;    

}


.__Index__Body__Main__Section article h2{
    font-size: 18px;
}
.__Index__Body__Main__Section article h3{
    font-size: 16px;
}
.__Index__Body__Main__Section article h4{
    display: none;
    font-size: 16px;
}
.__index____Body__footer__Div{
    text-align: center;
    color: var(--colorAzul);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto 
}
.__Index__Main__Footer__Article{
    text-align: center;
}
.__Index__Main__Footer__Article--Copyright{
    font-size: 10px;
    text-align: left
}
.__Index__Main__Footer__Article h3{}
.__Index__Main__Footer__Article p{}


@media (min-width: 361px) {
    .__Index__Body__Main__Section article h4{
        display: block;
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .__Index__Body__Main__Section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    .__index____Body__Header nav ul{
        display: block;
        list-style: none;
        margin-left: -30px;
    }
    .__index____Body__Header__Div--Hamburguesa{
        display: none;
    }
}