:root {
    --tipografiaGeneral : 'Roboto';
    --colorVerde : #44a391;
    --colorAmarillo : #EAC926;
    --colorCeleste:#1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a; 
}