<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <title>Home</title>
</head>

<body class = __Index__Body>
    <header class="__index____Body__Header">
        <img class = __Index__Body_Header__img--Isologotipo src="/images/logo-mercado-liebre.svg">
        <div class= __index____Body__Header__Div--Buscador>
            Buscar productos, marcas
        </div>
        <i id=lupa class="fa-solid fa-magnifying-glass"></i>
        <p class= __index____Body__Header__P--Cuotas><i class="fa-solid fa-hand-holding-dollar"></i> compra en cutas y sin tarjeta de credito</p>
        <nav>
            <ul class=__index____Body__Header__nav__ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficial</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class =__index____Body__Header__nav__ul>
                <li><a href="">Crea tu cuenta  <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="">Ingresar  <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class = __Index__Body__Main>

        <section class = __Index__Body__Main__Section>
            <img class = __Index__Body__Main__Section__img--Banner src="/images/img-home-banner.jpg">
        </section>

        <section class = __Index__Body__Main__Section>
            <h1 class = __Index__Body__Main__Section__h1--Titular>Basado en las ultimas visitas</h1>
            <article class = __Index__Body__Main__Section__Article>
                <img src="/images/img-cafetera-moulinex.jpg" width="300">
                <h2 class = __Index__Body__Main__Section__Article__H2--Precio>$6.770</h2>
                <h3 class = __Index__Body__Main__Section__Article__H3--Descuento>40% off</h3>
                <h3 class = __Index__Body__Main__Section__Article__H3--Descripciones>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="300">
                <h2>$230.000</h2>
                <h3>20% off</h3>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300">
                <h2>$70.500</h2>
                <h3>10% off</h3>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="300">
                <h2>$6.770</h2>
                <h3>40% off</h3>
                <h3>Imagen del SmartTv</h3>
            </article>
        </section>
        <section>
            <h1>Ofertas</h1>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="200">
                <h2>$6.770</h2>
                <h3>40% off</h3>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="200">
                <h2>$230.000</h2>
                <h3>20% off</h3>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="200">
                <h2>$70.500</h2>
                <h3>10% off</h3>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="200">
                <h2>$6.770</h2>
                <h3>40% off</h3>
                <h3>imagen del SmartTv</h3>
            </article>
        </section>
    </main>
    <footer>

        <article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>

    </footer>
</body>

</html>